html{
  font-family: Helvetica;
  text-align: center;
}

.pageheader {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size:cover;
}

.pagetitle {
  font-size: 70px;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.pagelink {
  font-size: 18px;
  color: white;
  opacity: 1;
}
